body {
    background-color: white;
}

.wrapper {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    display: grid;
    grid-template-columns: 270px 500px 40px;
    height: 100vh;
    gap: 5px;
}

.clOne {
    grid-column: 1;
    background-color: #e6e6e6;
}

.clTwo {
    grid-column: 2;
    margin-left: 10px;
    margin-top: 35px;
}

#myInfo {
    grid-row-start: 1;
    grid-row-end: 6;
    /* background-color: #00A36C; */
    background-color: #008080;
    color: white;
}

#skills {
    margin-left: 20px;
}

#myname {
    /* text-align: center; */
    font-size: x-large;
    margin-left: 20px;
}

#whatIdo {
    /* text-align: center; */
    font-size: large;
    margin-left: 20px;
    margin-top: 20px;
}

#emp {
    font-size: larger;
}

#contact {
    font-size: small;
    margin-left: 20px;
}

#education {
    margin-left: 20px;
    margin-top: 20px;
}

#stSkills {
    font-size: larger;
}

#stEduc {
    font-size: larger;
}

#skillset {
    margin-left: 10px;;
}